# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Environment variables
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
